#main-navbar{
                background-color: blue;
                position: relative;
                overflow: hidden;
}
#navbar-container{
                    position: relative;
                    float: left;
                    left:50%;
}

#onepage a {    
              text-decoration: underline overline;
}


#sidebar {
            background-color: red;
            text-align: center;
            height: 100%;
            width: 20%;  
            right:0%;
            position: fixed;
}        
#sidebar-container {
                      text-decoration: none;
                      text-align: center;
                      color: #fff;
}                    
