#main-navbar{
                background-color: blue;
                position: relative;
                overflow: hidden;
}
#navbar-container{
                    position: relative;
                    float: left;
                    left:50%;
}
